*{
 /* background-color: rgb(238, 236, 236); */
 font-family:  Calibri, 'Trebuchet MS','Gill Sans', 'Gill Sans MT', sans-serif, 'Courier New', Courier, monospace; 
 margin: 0;  
}

#hero-image{
    width: 300px;
    height: 150px;
}

.hero-container{
    background-color: #1f2937;
    width: auto;
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
    align-items: center;
}

.nav-container #header-logo{
    flex: 1;
}

.nav-container .nav-links{
    padding-inline: 5px;
}

#hero-content{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;

}

.hero-text{
    width: 300px;
}

.sign-up{
    background-color: #3B82F6;
    padding-inline: 12px;
    color: white;
    text-decoration: none;
    border-radius: 2px;
}

.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    outline: 2px solid #1f2937;
}

.content-1{
    width: 100%;
    padding-bottom: 16px;
}

.content-1 h1{
    margin: 16px;
    text-align: center;
}


.illustrations{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}


.content-2{
    margin: 16px;
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6E7EB;
}

.holder-image{
    width: 80px;
    height: 80px;
    padding: 0;
    border: 2px solid #4B7ED9;
    border-radius: 10px;
}

.content-3{
    margin: 50px;
    display: flex;
    width: 60%;
    height: 60px;
    background-color: #3B82F6;
    padding: 16px;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.signup{
    text-align: center;
    border: 2px solid white;
    padding-inline: 12px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}